[submodule "vendor/slime"]
	path = vendor/slime
	url = git://github.com/nablaone/slime.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = git://gitorious.org/magit/mainline.git
[submodule "vendor/textmate"]
	path = vendor/textmate
	url = git://github.com/defunkt/textmate.el.git
[submodule "vendor/rinari"]
	path = vendor/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "utilities/jump"]
	path = utilities/jump
	url = git://github.com/eschulte/jump.el.git
[submodule "utilities/ert"]
	path = utilities/ert
	url = git://github.com/nex3/ert.git
[submodule "vendor/swank-clojure"]
	path = vendor/swank-clojure
	url = git://github.com/jochu/swank-clojure.git
[submodule "vendor/cedet"]
	path = vendor/cedet
	url = git://github.com/emacs-pkg-mirrors/cedet.git
[submodule "vendor/configgy-mode"]
	path = vendor/configgy-mode
	url = git@github.com:stevej/configgy-mode.git
[submodule "vendor/smart-tab"]
	path = vendor/smart-tab
	url = git://github.com/dhax/smart-tab.git
